<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%-include header%>
    <div class="main">
    	<h1>Index</h1>
    	<div>this is index12</div>
    	
    </div>
	
    <%-include footer%>
  </body>
</html>